[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
starlette = "*"
sqlalchemy = "*"
alembic = "*"
requests = "*"
cryptography = "*"
pyjwt = "*"
casbin = "*"
psycopg2-binary = "*"

[dev-packages]
dredd-hooks = "*"
pytest = "*"
schemathesis = "*"
httpx = "*"
hypothesis-jsonschema = "*"
awscli = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
